<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <h1><%= htmlWebpackPlugin.options.myPageHeader %></h1>
    <h3>Welcome to the Awesome application</h3>

    <my-app> <img src="#" /> <button>Click</button> </my-app>
    <form action="#" method="get">
      <input type="search" name="search" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
